{% extends "base.html" %}

{% block title %}登陆{% endblock %}

{% block body %}
<form method="POST">
    <div class="login-form">
        <div class="row">
            <span class="login-title">代理管理系统</span>
        </div>
        <div class="row">
            <i class="fa fa-user"></i>
            <input class="form-control" type="text" placeholder="请输入用户名">
        </div>
        <div class="row">
            <i class="fa fa-lock"></i>
            <input class="form-control" type="password" placeholder="请输入密码">
        </div>
        <div class="row">
            <button class="btn btn-primary">登陆</button>
        </div>
    </div>
</form>
{% endblock %}
